# Pastas (mantém seus nomes originais)
TEMPLATE_FOLDER=views
STATIC_FOLDER=public

# Flask / segurança
SECRET_KEY=P3tG0$ecretK3y

# Banco
SQLALCHEMY_DATABASE_URI=sqlite:///gestor.db
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Semeadura inicial
SEED_ON_STARTUP=true
